<header id="header">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white ">
        <div class="container-fluid px-lg-5 ">
            <a id="head" class="navbar-brand" href="index.html"><img src="/img/favicon.png"
                    alt="">M.M.M.U.T.</a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav  ml-auto">
                    <li class="nav-link active">
                        <a href="#hero">Home</a>
                    </li>
                    <li class="nav-link ">
                        <a href="#about">About Us</a>
                    </li>
                    <li class="nav-link ">
                        <a href="#services">The University</a>
                    </li>
                    <li class="nav-link ">
                        <a href="#login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>