<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madan Mohan Malaviya University of Technology, Gorakhpur (U.P.) India</title>
    <meta content="" name="description">
    <meta content="" name="keywords">


    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!-- Template Main CSS File -->
    <link href="/main.css" rel="stylesheet">
    <!-- JQuerry -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>


    <!--Bootstrap JavaScript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous">
        </script>


</head>

<body>
    <style>
        #title {
            position: relative;
            padding-top: 90px;
            height: 100vh;

        }

        #title .container-xl {
            background: #e03a3c;
            border-radius: 25px;
            height: 85vh;
        }

        #col-one button {
            width: 100%;
            padding: 0.5rem 0;
            margin: 1em 0;
        }

        #div-two {
            box-shadow: var(--shadow-elevation-low);
        }

        #col-two li {
            list-style: none;
        }

    </style>
    <header id="header">

        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white ">
            <div class="container-fluid px-lg-5 ">
                <a id="head" class="navbar-brand" href="index.html"><img src="/img/favicon.png" alt="">M.M.M.U.T.</a>
                <li class="nav-link ">
                    <a href="/student/logout">Log Out</a>
                </li>

            </div>
        </nav>
    </header>
    <section id="title">
        <% if (messages.length > 0 ) { %>
            <div  class="alert alert-danger"  >
              <%= messages %>
            </div>
            <% } %>

        <div class="container-xl">
            <div class="row " style="height: 100%;">
                <div id="col-one" class="col-2 pt-2">
                    <h3 class="text-center text-white ">Change Password</h3>
                    <div style="height: 2px;background: rgb(255, 100, 100);"></div>
                    <div>
                        <div>
                            <a href="/student/dashboard"><button class="btn btn-light ">Dashboard</button></a>
                        </div>
                        <div>
                            <a href="/student/course"><button class="btn btn-light ">Course Details</button></a>
                        </div>
                        <div>
                            <a href="/student/result"><button class="btn btn-light ">Results</button></a>
                        </div>
                    </div>
                    <div style="height: 1px;background: rgb(50, 50, 50);"></div>
                    <div>
                        <a href="/student/password"><button class="btn btn-light ">Change Password</button></a>
                    </div>
                </div>
                <div id="col-two" class="col-10 p-2 ">
                    <div id="div-two" class="bg-white" style="border-radius: 20px;height: 100%;">
                        <div id="passBox" class="row px-4 pt-4">
                            <div class="form-group col mb-3">
                                <form action="/student/password" method="post" class=".needs-validation">
                                    <label for="currPass">Current password</label>
                                    <input type="password" id="currPass" name="currPass" class="form-control-sm">

                                    <br>
                                    <label for="newPass">New password</label>
                                    <input type="password" id="newPass" name="newPass" class="form-control-sm">
                                    <div id="passwordHelpBlock" class="form-text">
                                        Your password must be 8-20 characters long, contain letters and numbers,
                                        and must not contain spaces, special characters, or emoji.
                                    </div>
                                    <br>
                                    <label for="newPassAgain">Enter new password again</label>
                                    <input type="password" id="newPassAgain" name="newPassAgain" class="form-control-sm">
                                    <br>
                                    <div class="col pt-2">
                                        <button type="submit" class="btn btn-primary">Change</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
    </section>
    
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
            // password checking 
            const newPassInput = document.getElementById('newPass');
            newPassInput.addEventListener('input', function () {
                const inputValue = newPassInput.value;
               // Define regular expressions to check for letters, numbers, and disallowed characters
                const letterPattern = /[a-zA-Z]/;
                const numberPattern = /\d/;
                const disallowedPattern = /[ !@#$%^&*()_+{}\[\]:;<>,.?~\\]/;

                // Check password criteria
                if (
                    inputValue.length >= 8 &&
                    inputValue.length <= 20 &&
                    letterPattern.test(inputValue) &&
                    numberPattern.test(inputValue) &&
                    !/\s/.test(inputValue) &&
                    !disallowedPattern.test(inputValue) &&
                    !containsEmoji(inputValue)
                ) {
                    newPassInput.setCustomValidity(''); // Reset custom validation message
                } else {
                    newPassInput.setCustomValidity('Password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emojis.');
                }
            });

            // Function to check for emojis
            function containsEmoji(text) {
                const emojiPattern = /[\uD83C-\uDBFF\uDC00-\uDFFF\u2600-\u2B55\u23E9]/;
                return emojiPattern.test(text);
            }

        }) ()
    </script>